.topbarContainer {
  width: 100%;
  background-color: #178759;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarLeft {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbarCenter {
  flex: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbarRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbarLogo {
  font-size: 42px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .topbarLogo {
    font-size: 16px;
  }
}

.topbarOrderOnline {
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
